In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('spinners.csv')

In [3]:
df

,Unnamed: 0,Name,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10,Overs
0,0,Adil Rashid,164,158.0,3345,4118,186,4/19,4/19,22.13,7.38,17.9,5.0,0,0,557.3
1,1,Sandeep Lamichhane,48,48.0,1028,1244,64,4/10,4/10,19.43,7.26,16.0,1.0,0,0,171.2
2,2,Shane Warne,73,71.0,1548,1863,70,4/21,4/21,26.61,7.22,22.1,1.0,0,0,258.0
3,3,Anil Kumble,54,54.0,1245,1389,57,5/5,5/5,24.36,6.69,21.8,2.0,1,0,207.3
4,4,Rashid Khan,179,177.0,4139,4258,261,5/3,5/3,16.31,6.17,15.8,5.0,2,0,689.5
5,5,Yuzvendra Chahal,151,149.0,3171,3986,172,6/25,6/25,23.17,7.54,18.4,4.0,1,0,528.3
6,6,Amit Mishra,217,216.0,4558,5436,247,5/17,5/17,22.00,7.15,18.4,4.0,2,0,759.4
7,7,Adam Zampa,123,119.0,2481,3001,135,6/19,6/19,22.22,7.25,18.3,0.0,1,0,413.3
8,8,Imran Tahir,259,246.0,5525,6530,317,5/23,5/23,20.59,7.09,17.4,9.0,2,0,920.5

In [4]:
# plt.bar(x=df['Name'], height=df['Ave'])
df.Name

0           Adil Rashid
1    Sandeep Lamichhane
2           Shane Warne
3           Anil Kumble
4           Rashid Khan
5      Yuzvendra Chahal
6           Amit Mishra
7            Adam Zampa
8           Imran Tahir
Name: Name, dtype: object

In [5]:
df_econ = df[['Name','Econ']]

In [14]:
df_econ

                 Name  Econ
0         Adil Rashid  7.38
1  Sandeep Lamichhane  7.26
2         Shane Warne  7.22
3         Anil Kumble  6.69
4         Rashid Khan  6.17
5    Yuzvendra Chahal  7.54
6         Amit Mishra  7.15
7          Adam Zampa  7.25
8         Imran Tahir  7.09

In [10]:
names = df['Name'].unique()
names

array(['Adil Rashid', 'Sandeep Lamichhane', 'Shane Warne', 'Anil Kumble',
       'Rashid Khan', 'Yuzvendra Chahal', 'Amit Mishra', 'Adam Zampa',
       'Imran Tahir'], dtype=object)

In [12]:
df_plot = df[df['Name'].isin(names)]

In [13]:
df_plot

,Unnamed: 0,Name,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10,Overs
0,0,Adil Rashid,164,158.0,3345,4118,186,4/19,4/19,22.13,7.38,17.9,5.0,0,0,557.3
1,1,Sandeep Lamichhane,48,48.0,1028,1244,64,4/10,4/10,19.43,7.26,16.0,1.0,0,0,171.2
2,2,Shane Warne,73,71.0,1548,1863,70,4/21,4/21,26.61,7.22,22.1,1.0,0,0,258.0
3,3,Anil Kumble,54,54.0,1245,1389,57,5/5,5/5,24.36,6.69,21.8,2.0,1,0,207.3
4,4,Rashid Khan,179,177.0,4139,4258,261,5/3,5/3,16.31,6.17,15.8,5.0,2,0,689.5
5,5,Yuzvendra Chahal,151,149.0,3171,3986,172,6/25,6/25,23.17,7.54,18.4,4.0,1,0,528.3
6,6,Amit Mishra,217,216.0,4558,5436,247,5/17,5/17,22.00,7.15,18.4,4.0,2,0,759.4
7,7,Adam Zampa,123,119.0,2481,3001,135,6/19,6/19,22.22,7.25,18.3,0.0,1,0,413.3
8,8,Imran Tahir,259,246.0,5525,6530,317,5/23,5/23,20.59,7.09,17.4,9.0,2,0,920.5